@model Assignment5.Models.MusicGenreModel;

@{
    ViewData["Title"] = "Music Selecion Page:";
}

<h1>Music Selection Page</h1>

<form asp-controller="MusicInventories" asp-action="Index" method="get">
    <p>
        Music Genre:



        <select asp-for="MusicGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>



        Music Producer:

        <select asp-for="MusicProducers" asp-items="Model.Producers">
            <option value="">All</option>
        </select>


        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Music![0].musicTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Music![0].genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Music![0].performer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Music![0].price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Music![0].typeOfDownload)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Music![0].yearReleased)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Music!)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.musicTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.performer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.typeOfDownload)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.yearReleased)
                </td>
            </tr>
        }
    </tbody>
</table>
